.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-container {
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: #0041b9;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 30vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: stretch;
    overflow: auto;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}

.canvas{
    border: black;
    background-color: white;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}