{% extends "base.html" %} {% block content %}

    <form method="post">
        <div class="white-container">
            <h2>{{ code }}</h2>
            <button name="play-btn" id="play-btn">Play</button>
            <br>
            {% if error %}
                <ul>
                    <li>{{ error }}</li>
                </ul>
            {% endif %}
        </div>


        <div class="column">
            <div class="wordToDraw">
                <h2>Chair</h2>
            </div>
            <div class="message-box" id="message-box">
                <br>
                <div class="messages" id="messages"></div>
                <div class="inputs">
                    <input type="text" rows="3" placeholder="Message" id="message">
                    <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
                    <script>
                        var input = document.getElementById("message");
                        input.addEventListener("keypress", function (event) {
                            if (event.key === "Enter") {
                                event.preventDefault();
                                document.getElementById("send-btn").click();
                                updateScroll();
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        var socketio = io();

        const messages = document.getElementById("messages");

        const createMessage = (name, msg) => {
            const content = `
        <div class="text">
            <div>
                <span>
                    <strong>${name}</strong>: ${msg}
                </span>
                <span class="muted">
                    ${new Date().toLocaleString()}
                </span>
            </div>
        </div>
        `;

            messages.innerHTML += content;
            updateScroll();
        };

        socketio.on("message", (data) => {
            createMessage(data.name, data.message)
        })

        const sendMessage = () => {
            const message = document.getElementById("message")
            if (message.value === "") return;
            socketio.emit("message", {data: message.value});
            message.value = "";
        };

        function updateScroll() {
            var element = document.getElementById("messages");
            var box = document.getElementById("message")
            element.scrollTop = element.scrollHeight;
        }
    </script>

{% endblock %}